<div class="col-md-12">
  <div class="well">
    Welcome to the It's Ridic PIM!
  </div>
</div>
<div class="col-md-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Products</h3> 
    </div> 
    <div class="panel-body">
      <%= link_to products_path, class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-barcode"> Products</i>
      <% end %>
    </div> 
  </div>
</div>
<div class="col-md-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Contacts</h3> 
    </div> 
    <div class="panel-body">
      <%= link_to contacts_path, class: "btn btn-default" do %>
        <%= fa_icon "users", text: "Contacts" %>
      <% end %>
    </div> 
  </div>
</div>
<div class="col-md-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Orders</h3> 
    </div> 
    <div class="panel-body">
      <%= link_to orders_path, class: "btn btn-default" do %>
        <%= fa_icon "book", text: "Orders" %>
      <% end %>
    </div> 
  </div>
</div>