<div class="page-header">
  <h1><%= order.name %> <small><%= local_time(order.user_date) %></small><small><%= link_to(fa_icon("pencil", text: "Edit"), edit_order_path(order), class: "btn btn-default btn-xs") %></small></h1>
</div>
<div>
  <h4>
    <%= order.contact.name %>
  </h4>
  <p>
    <%= order.contact.address %><br>
    <%= order.contact.city %>, <%= order.contact.state %>, <%= order.contact.postal_code %>
    <%= order.contact.country %>
  </p>
</div>
<table class="table table-striped">
  <thead>
    <th>Product</th>
    <th>Quantity</th>
    <th>Cost</th>
    <th>Average Cost</th>
  </thead>
  <tbody>
    <%= render order.order_items %>
  </tbody>
</table>