<div class="col-md-12">
  <h1>Contacts</h1>
  <%= link_to "New Contact", "#new_contact", data: { toggle: "modal" }, class: "btn btn-sm btn-primary" %>
  <table class="table table-striped">
    <thead>
      <th></th>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Postal Code</th>
      <th>Country</th>
      <th>Email Address</th>
      <th>Phone Number</th>
      <th>QBO ID</th>
    </thead>
    <tbody id="contacts">
      <%= render @contacts %>
    </tbody>
  </table>
</div>

<div class="modal fade" id="new_contact">
  <%= simple_form_for Contact.new, remote: true, validate: true do |f| %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Contact</h4>
      </div>
      <div class="modal-body">
        <div class="form-inputs">
          <%= f.input :name, autofocus: true %>
          <%= f.input :address %>
          <%= f.input :city %>
          <%= f.input :state %>
          <%= f.input :postal_code %>
          <%= f.input :country, selected: ["US"] %>
          <%= f.input :email_address %>
          <%= f.input :phone_number %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<script>
  $(document).ready(function() {
    $(".modal").on("shown.bs.modal", function(e) {
      $(':input','#new_contact').not(':button, :submit, :reset, :hidden').val('').removeAttr('checked').removeAttr('selected');
      $('form[data-validate]').enableClientSideValidations();
    });
  });
</script>
