<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @contact.name %></h3>
    </div>
    <div class="panel-body">
      <p><%= @contact.address %></p>
      <p><%= @contact.city %></p>
      <p><%= @contact.state %></p>
      <p><%= @contact.postal_code %></p>
      <p><%= @contact.country %></p>
      <p><%= @contact.email_address %></p>
      <p><%= @contact.phone_number %></p>
      <p><%= @contact.qbo_id %></p>
    </div>
  </div>
  <%= link_to "All Contacts", contacts_path, class: "btn btn-sm btn-primary" %>
</div>