<tr id="<%= adjustment.id %>">
  <td>
    <%= link_to fa_icon("search"), adjustment %>
    <%= link_to fa_icon("pencil"), edit_adjustment_path(adjustment), remote: true %>
    <%= link_to fa_icon("trash" ), adjustment, method: :delete, data: { confirm: "Are you sure?" }, remote: true %>
  </td>
  <td><%= adjustment.product.name %></td>
  <td><%= adjustment.adjustment_type.name %></td>
  <td><%= adjustment.adjusted_quantity %></td>
  <td><%= adjustment_location(adjustment) %></td>
</tr>