<div class="modal fade" id="edit_adjustment">
  <%= simple_form_for @adjustment, remote: true, validate: true do |f| %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit Adjustment</h4>
      </div>
      <div class="modal-body">
        <div class="form-inputs">
          <%= f.association :product %>
          <%= f.association :adjustment_type %>
          <%= f.input :adjusted_quantity %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn stylish-color-dark" data-dismiss="modal">Close</button>
        <%= f.button :submit, class: 'btn unique-color' %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<script>
  $(document).ready(function() {
    $(".modal").on("shown.bs.modal", function(e) {
      $('form[data-validate]').enableClientSideValidations();
    });
  });
</script>