<div class="new-product">
  <%= simple_form_for(@adjustment, remote: true, html: { class: "form-inline", id: "new-adjustment-form" }) do |f| %>
    <div class="row">
      <div class="col-md-7">
        <div class="form-group">
          <%= f.association :product, collection: Product.all.order(:name), prompt: "Choose a Product", input_html: { class: "form-control choose-product" } %>
        </div>
      </div>
      <div class="col-md-3">
        <%= f.association :adjustment_type, collection: AdjustmentType.all.order(:name), prompt: "Choose Adjustment Type", input_html: { class: "adjustment-type",style: "2.6 em;" } %>
      </div>
      <div class="col-md-2">
        <%= f.input :adjusted_quantity, input_html: { class: "form-control-sm adjustment-quantity" } %>
      </div>
    </div>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>