<tr>
  <td><%= sale.product.name %></td>
  <td><%= sale.description %></td>
  <td><%= sale.quantity %></td>
  <td><%= number_to_currency(sale.rate) %></td>
  <td><%= number_to_currency(sale.amount) %></td>
</tr>
