<div class="container">
  <h1>Update Card Information</h1>
  <p>Clicking the below button will update your card information.</p>
  <%= form_tag(accounts_path, method: :put) do %>
    <div class="errors">
      <% if @account.errors.any? %>
        <ul>
          <% @account.errors.full_messages.each do |msg| %>
            <li class="error"><%= msg %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                                          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                                                          data-description="<%= Plan.first.name %>"
                                                          data-email="<%= @account.owner.email %>"
                                                          data-locale="auto"></script>
  <% end %>
</div>
