<div class="col-md-6 offset-md-3 account">
	<div class="account">
		<h2>Create an Account</h2>

		<%= simple_form_for @account do |f| %>
			<%= f.fields_for :owner do |o| %>
				<%= o.input :name %>
				<%= o.input :email %>
				<%= o.input :password %>
				<%= o.input :password_confirmation %>
			<% end %>

			<%= f.input :subdomain do %>
				<div class="input-group">
					<%= f.input_field :subdomain, class: 'form-control-sm' %>
					<span class="input-group-addon">.retailmerge.com</span>
				</div>
			<% end %>
			<%= f.button :submit, class: 'btn btn-primary' %>
		<% end %>
	</div>
</div>